html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media (max-width:600px) {
  body {
    margin: 35px;
  }

  h1 {
    font-size: 30px;
    text-align: center;
  }
  
  h2 {
    font-size: 25px;
    text-align: center;
  }

  h3 {
    font-size: 22px;
    text-align: center;
  }

  p {
    font-size: 17px;
    text-align: justify;
  }

}

@media (min-width: 601px) and (max-width: 1200px) {
  body {
    font-size: 22px;
    margin: 45px;
  }

  nav ul {
  display: flex;
  justify-content: space-around;
  }

  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 27px;
    text-align: center;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 21px;
    text-align: justify;
  }
}
