.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  min-width: 25%;
  margin: 10px 10px;
  border: 1px gray solid;
  border-radius: 10px;
}

.pokemon-details {
  display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px 10px;
  border: 1px gray solid;
  border-radius: 10px;
}

.location-container {
	display: flex;
	flex-direction: row;
}

.location-map {
	margin: 10px 40px;
}

.pokedex-text {
	text-align: justify;
	margin: 60px;
}